//themes name : cin cin shop

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  margin: auto 50px;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.slick-initialized .slick-slide {
  display: block;
  outline: none;
}
/* Let's get this party started */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFB2D1; 
  transition: all 2s ease-in-out;
}
::-webkit-scrollbar-thumb:window-inactive {
background: #FFB2D1; 
}
.btn-backtotop{
  position: fixed;
  right: 0;
  bottom: 50%;
  background: none;
  border: none;
  outline: none;
  color: #000;
  opacity: .3;
  
}

body {

  font-family: Arial, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  .wrapper {
    .header__about {
      background-color: #000;
      .about {
        display: flex;
        height: 30px;

        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        .about__freeship {
          margin-top: 20px;
          p {
            font-size: 0.8rem;
            color: white;
          }
        }
        .about__tools {
          display: flex;
          margin-top: 15px;
          li {
            margin-right: 10px;
            a {
              color: white;
              font-size: 0.8rem;
            }
          }
        }
      }
    }
    .navigation {
      display: flex;
      align-items: center;
      margin-left: 40px;
      .brand {
        img {
          width: 300px;
        }
      }
      .nav-items {
        display: flex;
        align-items: center;
        height: 40px;
        li {
          padding-left: 20px;
          padding-top: 20px;
          a {
            color: black;
            text-transform: uppercase;
          }
          .drop-menu {
            position: absolute;
            display: none;
            box-shadow: 0.4px 0.5px 0.7px 1px rgba(0,0,0,0.4);
          }
          &:nth-child(3) {
            position: relative;
          }
          &:hover .drop-menu {
            display: block;
            z-index: 9;

            li {
              width: 200px;
              background: white;
              a {
                color: black;
                z-index: 9;
                text-decoration: none;
                text-transform: uppercase;
              }
              &:hover {
                background-color: #fd98ad;
              }
            }
          }
        }
      }
      .tools__hidden {
        display: none;
      }
    }
    .search__hidden {
      display: none;
    }

    .products {
      .product__card {
        .container {
          display: flex;
          justify-content: space-around;
          .slick-slide {
            outline: none;
          }
          .card__product-item {
            text-align: center;
            h5 {
              font-size: 0.8rem;
            }
            img {
              padding: 40px;
              transition: all 2s ease-in-out;
              &:hover {
                transform: scale(1.1);
              }
            }
            p {
              &:nth-child(1) {
                font-size: 1.5rem;
              }
              i {
                font-size: 0.6rem;
              }
              span {
                font-size: 0.6rem;
              }
            }

            .btn-add {
              a {
                button {
                  border: none;
                  background-color: #000;
                  color: white;
                  width: 200px;
                  height: 50px;
                  border-radius: 5px;
                  font-weight: 500;
                  transition: all 1s ease-in-out;
                  &:hover {
                    background-color: white;
                    color: #000;
                    border: 1px solid #000;
                  }
                }
              }
            }
          }
        }
      }
    }

    // ========

    .highlight-products {
      background-color: #f4dfdc;
      margin-top: 20px;
      outline: none;
      .highlight__products-heading {
        display: flex;
        justify-content: center;
      }
      .card__product-item {
        text-align: center;
        margin: 10px 20px;
        img {
          max-width: 100%;
          height: auto;
        }
        h5 {
          font-size: 0.8rem;
        }
        p {
          &:nth-child(1) {
            font-size: 1.5rem;
          }
          i {
            font-size: 0.6rem;
          }
          span {
            font-size: 0.6rem;
          }
        }

        .btn-add {
          a {
            button {
              border: none;
              background-color: #000;
              color: white;
              width: 100px;
              height: 30px;
              border-radius: 5px;
              font-weight: 500;
              font-size: 0.5rem;
              transition: all 1s ease-in-out;
              &:hover {
                background-color: white;
                color: #000;
                border: 1px solid #000;
              }
            }
          }
        }
      }
    }
    // =============
    .highlight-products{
      h3.title{
        text-transform: uppercase;
        margin: 10px auto;
        font-family: tahoma;
      }
    }




    // ============
    .banner {
      img {
        width: 100%;
        display: block;
      }
    }

    // ================
    .registration {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      .registration__heading {
        h3 {
          font-size: 2rem;
          margin-left: 150px;
          font-weight: 700;
        }
        p {
          margin-left: 100px;
        }
        justify-content: center;
      }
      .form-input-email {
        display: flex;
        flex-direction: column;
        input {
          width: 600px;
          border: none;
          outline: none;
          height: 60px;
          border-bottom: 2px solid rgba(30, 30, 30, 0.2);
          box-shadow: 0 12px 51px 0 rgba(30, 30, 30, 0.05);
        }
        button {
          margin-top: 10px;
          margin-left: 220px;
          width: 200px;
          height: 50px;
          background-color: #000;
          color: #fff;
          border-radius: 10px;
          transition: all 2s ease-out;
          border: none;

          &:hover {
            background-color: #fff;
            color: #000;
            border: 1px solid #000;
            font-weight: 800;
          }
        }
      }
    }
    .navigation-bottom {
      margin-top: 30px;
      background-color: #000;
      height: 80px;
      display: flex;
      align-items: center;
      .container {
        display: flex;
        margin-left: 0;
        .navigation-bottom__brand {
          height: 80px;
          display: flex;
          align-items: center;
          img {
            width: 200px;
          }
        }
        .navigation-bottom__list {
          height: 80px;
          display: flex;
          align-items: center;
          li {
            padding-left: 30px;
            a {
              color: #fff;
              text-decoration: none;
            }
            &:nth-child(1) {
              display: none;
            }
          }
        }
      }
    }
    .footer {
      margin-top: 30px;
      .footer__contact {
        display: flex;
        justify-content: center;
        div {
          padding-left: 30px;
          i {
            color: black;
            font-size: 40px;
            transition: all 2s ease-in;
            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }
      .footer__licsence {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        p {
          font-size: 0.8rem;
        }
      }
    }
  }
}

//==============product =================


.wrapper{
  .interdepend__heading{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    h3{
      text-transform: uppercase;
    }
  }
  .deail-products{
    .container{
      display: flex;
      .image-product{
      }
      h3{
        font-size: 1.5rem;
      }
     p.evaluate{
       i.fa-star{
         font-size: .8rem;
       }
       span{
         font-size: .8rem;
       }
     }
     p.price{
       font-size: 1rem;
     }
     ul.evaluate{
      list-style: square;
       li{ list-style-type: disc;
       }
     }


     .number-products{
       button{
         width: 30px;
         height: 30px;
         border: none;
         outline: none;
         
       }
       input{
         width: 50px;
         height: 30px;
         outline: none;
         
         box-shadow: 0.5px 0.6 0.2px #333;

       }
     }
     .btn-add-cart{
       margin-top: 20px;
       .btn-add{
         border: none;
         width: 450px;
         height: 50px;
         background-color: #000;
         border: 1px solid #fff;
         color: #fff;
         font-size: 0.7rem;
         transition: all 1s ease-in-out;
         &:hover{
           background-color: #fff;
           color: #000;
           font-weight: 900;
           border: 1px dashed #000;
         }
       }
     }


      .detail__share{
        display: flex;
        margin-top: 10px;
        ul{
          display: flex;
          li{
            margin-left: 10px;
          }
        }
      }
    }
  }
}
















///reponsive

@media (max-width: 319px) {
  body {
    font-family: Arial, "Helvetica Neue", sans-serif;
    .wrapper {
      .header__about {
        background-color: #000;
        .about {
          display: flex;
          height: 50px;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;

          .about__freeship {
            p {
              font-size: 0.5rem;
              color: white;
            }
            .about__hidden {
              display: none;
            }
          }
          .about__tools {
            display: none;

            li {
              margin-right: 10px;
              a {
                color: white;
                font-size: 0.7rem;
              }
            }
          }
        }
      }

      // ========end header====

      .navigation {
        display: flex;
        align-items: center;
        .brand {
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;
          img {
            width: 100px;
          }
        }
        .nav-items {
          display: none;
        }
        .tools__hidden {
          display: block;
          display: flex;
          align-items: center;

          ul {
            display: flex;
            justify-content: start;
            margin-top: 20px;
            li {
              margin-right: 20px;
              &:nth-child(3) {
                &:hover {
                  i {
                    transform: rotate(90deg);
                  }
                }
              }
              a {
                font-size: 1rem;
              }
            }
          }
        }
      }
      .search__hidden {
        display: flex;
        flex-direction: column;
        input {
          height: 30px;
          outline: none;
          &::placeholder {
            color: #000;
          }
        }
        button {
          height: 30px;
          background-color: #000;
          border: none;
          i {
            color: #fff;
          }
        }
      }
      .banner {
        div {
          img {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}
@media (max-width: 479px) {
}

@media (max-width: 767px) {
  body {
    font-family: Arial, "Helvetica Neue", sans-serif;

    .wrapper {
      .header__about {
        background-color: #000;
        .about {
          display: flex;
          height: 50px;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;

          .about__freeship {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            p {
              font-size: 0.5rem;
              color: white;
            }
          }
          .about__tools {
            display: none;
            li {
              margin-right: 10px;
              a {
                color: white;
                font-size: 0.7rem;
              }
            }
          }
        }
      }
      .navigation {
        height: 50px;
        .brand {
          display: flex;
          width: 100%;
          justify-content: center;
          img {
            width: 150px;
          }
        }
        .nav-items {
          display: none;
        }
        .tools__hidden {
          display: block;
          ul {
            display: flex;
            align-items: center;
            height: 50px;
            margin-top: 20px;
            li {
              margin-right: 20px;
              a {
                font-size: 1rem;
              }
            }
          }
        }
      }
      .search__hidden {
        display: flex;
        flex-direction: column;
        input {
          height: 30px;
          outline: none;
          &::placeholder {
            color: #000;
          }
        }
        button {
          margin-top: 5px;
          height: 30px;
          background-color: #000;
          border: none;
          i {
            color: #fff;
          }
        }
      }
      .banner {
        div {
          img {
            display: block;
            width: 100%;
          }
        }
      }
    }

    .products {
      .product__card {
        .container {
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          .slick-slide {
            outline: none;
          }
          .card__product-item {
            text-align: center;
            h5 {
              font-size: 0.8rem;
            }
            img {
              padding: 40px;
              transition: all 2s ease-in-out;
              &:hover {
                transform: scale(1.1);
              }
            }
            p {
              &:nth-child(1) {
                font-size: 1.5rem;
              }
              i {
                font-size: 0.6rem;
              }
              span {
                font-size: 0.6rem;
              }
            }

            .btn-add {
              a {
                button {
                  border: none;
                  background-color: #000;
                  color: white;
                  width: 200px;
                  height: 50px;
                  border-radius: 5px;
                  font-weight: 500;
                  transition: all 1s ease-in-out;
                  &:hover {
                    background-color: white;
                    color: #000;
                    border: 1px solid #000;
                  }
                }
              }
            }
          }
        }
      }
    }
    .registration {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      .registration__heading {
        h3 {
          font-size: 2rem;
          margin-left: 150px;
          font-weight: 700;
        }
        p {
          margin-left: 100px;
        }
        justify-content: center;
      }
      .form-input-email {
        display: flex;
        flex-direction: column;
        input {
          margin-left: 180px;
          max-width: 300px;
          border: none;
          outline: none;
          height: 60px;
          border-bottom: 2px solid rgba(30, 30, 30, 0.2);
          box-shadow: 0 12px 51px 0 rgba(30, 30, 30, 0.05);
        }
        button {
          margin-top: 10px;
          margin-left: 220px;
          width: 200px;
          height: 50px;
          background-color: #000;
          color: #fff;
          border-radius: 10px;
          transition: all 2s ease-out;
          border: none;

          &:hover {
            background-color: #fff;
            color: #000;
            border: 1px solid #000;
            font-weight: 800;
          }
        }
      }
    }
    .navigation-bottom {
      margin-top: 30px;
      background-color: #000;
      height: 200px;
      display: flex;
      align-items: center;
      .container {
        display: flex;
        margin-left: 0;
        .navigation-bottom__brand {
          img {
            width: 200px;
            display: none;
          }
        }
        .navigation-bottom__list {
          height: 100%;
          display: flex;
          flex-direction: column;
          li {
            display: block;
            a {
              color: #fff;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
}
@media (max-width: 1280px) {
}
