@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*dùng ảnh gif*/
.load {
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000000000;
  display: block;
  overflow: hidden;
}

.load img {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -75px;
}

.container {
  margin: auto 50px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.slick-initialized .slick-slide {
  display: block;
  outline: none;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffb2d1;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #ffb2d1;
}

.btn-backtotop {
  position: fixed;
  right: 0;
  bottom: 50%;
  background: none;
  margin-right: 10px;
  border: none;
  outline: none;
  color: #000;
  opacity: 0.3;
}

body {
  font-family: Arial, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

body .wrapper .header__about {
  background-color: #000;
}

body .wrapper .header__about .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .wrapper .header__about .about .about__freeship {
  margin-top: 20px;
}

body .wrapper .header__about .about .about__freeship p {
  font-size: 0.8rem;
  color: white;
}

body .wrapper .header__about .about .about__tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

body .wrapper .header__about .about .about__tools li {
  margin-right: 10px;
}

body .wrapper .header__about .about .about__tools li a {
  color: white;
  font-size: 0.8rem;
}

body .wrapper .header__about .about .about__tools li.seach-box .btn-search {
  background: none;
  color: white;
  border: none;
  outline: none;
}

body .wrapper .header__about .about .about__tools li.seach-box .input-search {
  display: none;
}

body .wrapper .header__about .about .about__tools li.seach-box .input-search-show {
  display: block;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .header__about .about .about__tools li.seach-box .input-search-show input {
  width: 500px;
  height: 50px;
  border: 1px solid pink;
  outline: none;
  border-radius: 10px;
}

body .wrapper .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
}

body .wrapper .navigation .brand img {
  width: 300px;
}

body .wrapper .navigation .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

body .wrapper .navigation .nav-items li {
  padding-left: 20px;
  padding-top: 20px;
}

body .wrapper .navigation .nav-items li a {
  color: black;
  text-transform: uppercase;
}

body .wrapper .navigation .nav-items li .drop-menu {
  position: absolute;
  display: none;
  -webkit-box-shadow: 0.4px 0.5px 0.7px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0.4px 0.5px 0.7px 1px rgba(0, 0, 0, 0.4);
}

body .wrapper .navigation .nav-items li:nth-child(3) {
  position: relative;
}

body .wrapper .navigation .nav-items li:hover .drop-menu {
  display: block;
  z-index: 9;
}

body .wrapper .navigation .nav-items li:hover .drop-menu li {
  width: 200px;
  background: white;
}

body .wrapper .navigation .nav-items li:hover .drop-menu li a {
  color: black;
  z-index: 9;
  text-decoration: none;
  text-transform: uppercase;
}

body .wrapper .navigation .nav-items li:hover .drop-menu li:hover {
  background-color: #fd98ad;
}

body .wrapper .navigation .tools__hidden {
  display: none;
}

body .wrapper .search__hidden {
  display: none;
}

body .wrapper .products .product__card .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .wrapper .products .product__card .container .slick-slide {
  outline: none;
}

body .wrapper .products .product__card .container .card__product-item {
  text-align: center;
}

body .wrapper .products .product__card .container .card__product-item h5 {
  font-size: 0.8rem;
}

body .wrapper .products .product__card .container .card__product-item img {
  padding: 40px;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

body .wrapper .products .product__card .container .card__product-item img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .wrapper .products .product__card .container .card__product-item p:nth-child(1) {
  font-size: 1.5rem;
}

body .wrapper .products .product__card .container .card__product-item p i {
  font-size: 0.6rem;
}

body .wrapper .products .product__card .container .card__product-item p span {
  font-size: 0.6rem;
}

body .wrapper .products .product__card .container .card__product-item .btn-add a button {
  border: none;
  background-color: #000;
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  font-weight: 500;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

body .wrapper .products .product__card .container .card__product-item .btn-add a button:hover {
  background-color: white;
  color: #000;
  border: 1px solid #000;
}

body .wrapper .highlight-products {
  background-color: #f4dfdc;
  margin-top: 20px;
  outline: none;
}

body .wrapper .highlight-products h3.title {
  text-transform: uppercase;
  margin: 10px auto;
  font-family: tahoma;
}

body .wrapper .highlight-products .highlight__products-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .highlight-products .card__product-item {
  text-align: center;
  margin: 10px 20px;
}

body .wrapper .highlight-products .card__product-item img {
  max-width: 100%;
  height: auto;
}

body .wrapper .highlight-products .card__product-item h5 {
  font-size: 0.8rem;
}

body .wrapper .highlight-products .card__product-item p:nth-child(1) {
  font-size: 1.5rem;
}

body .wrapper .highlight-products .card__product-item p i {
  font-size: 0.6rem;
}

body .wrapper .highlight-products .card__product-item p span {
  font-size: 0.6rem;
}

body .wrapper .highlight-products .card__product-item .btn-add a button {
  border: none;
  background-color: #000;
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 0.5rem;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

body .wrapper .highlight-products .card__product-item .btn-add a button:hover {
  background-color: white;
  color: #000;
  border: 1px solid #000;
}

body .wrapper .banner img {
  width: 100%;
  display: block;
}

body .wrapper .registration {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .registration .registration__heading {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .registration .registration__heading h3 {
  font-size: 2rem;
  margin-left: 150px;
  font-weight: 700;
}

body .wrapper .registration .registration__heading p {
  margin-left: 100px;
}

body .wrapper .registration .form-input-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .wrapper .registration .form-input-email input {
  width: 600px;
  border: none;
  outline: none;
  height: 60px;
  border-bottom: 2px solid rgba(30, 30, 30, 0.2);
  -webkit-box-shadow: 0 12px 51px 0 rgba(30, 30, 30, 0.05);
          box-shadow: 0 12px 51px 0 rgba(30, 30, 30, 0.05);
}

body .wrapper .registration .form-input-email button {
  margin-top: 10px;
  margin-left: 220px;
  width: 200px;
  height: 50px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  border: none;
}

body .wrapper .registration .form-input-email button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  font-weight: 800;
}

body .wrapper .navigation-bottom {
  margin-top: 30px;
  background-color: #000;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .navigation-bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
}

body .wrapper .navigation-bottom .container .navigation-bottom__brand {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .navigation-bottom .container .navigation-bottom__brand img {
  width: 200px;
}

body .wrapper .navigation-bottom .container .navigation-bottom__list {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .navigation-bottom .container .navigation-bottom__list li {
  padding-left: 30px;
}

body .wrapper .navigation-bottom .container .navigation-bottom__list li a {
  color: #fff;
  text-decoration: none;
}

body .wrapper .navigation-bottom .container .navigation-bottom__list li:nth-child(1) {
  display: none;
}

body .wrapper .footer {
  margin-top: 30px;
}

body .wrapper .footer .footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .footer .footer__contact div {
  padding-left: 30px;
}

body .wrapper .footer .footer__contact div i {
  color: black;
  font-size: 40px;
  -webkit-transition: all 2s ease-in;
  transition: all 2s ease-in;
}

body .wrapper .footer .footer__contact div i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body .wrapper .footer .footer__licsence {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .footer .footer__licsence p {
  font-size: 0.8rem;
}

.wrapper .related-products-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .related-products-line .line {
  width: 90%;
  height: 0.5px;
  background: #dedede;
}

.wrapper .interdepend__heading {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .interdepend__heading h3 {
  text-transform: uppercase;
}

.wrapper .deail-products .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .deail-products .container .image-product img {
  width: 500px;
  height: 600px;
}

.wrapper .deail-products .container h3 {
  font-size: 1.5rem;
}

.wrapper .deail-products .container p.evaluate i.fa-star {
  font-size: 0.8rem;
}

.wrapper .deail-products .container p.evaluate span {
  font-size: 0.8rem;
}

.wrapper .deail-products .container p.price {
  font-size: 1rem;
}

.wrapper .deail-products .container ul.evaluate {
  list-style: square;
}

.wrapper .deail-products .container ul.evaluate li {
  list-style-type: disc;
}

.wrapper .deail-products .container .number-products button {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  border: 1px solid #cdcdcd;
  background: none;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.wrapper .deail-products .container .number-products button:hover {
  background: #000;
  color: #fff;
}

.wrapper .deail-products .container .number-products input {
  width: 40px;
  height: 40px;
  outline: none;
  border: 1px solid #cdcdcd;
  -webkit-box-shadow: 0.5px 0.6 0.2px #333;
          box-shadow: 0.5px 0.6 0.2px #333;
  text-align: center;
}

.wrapper .deail-products .container .btn-add-cart {
  margin-top: 20px;
}

.wrapper .deail-products .container .btn-add-cart .btn-add {
  border: none;
  width: 450px;
  height: 50px;
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  font-size: 0.7rem;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.wrapper .deail-products .container .btn-add-cart .btn-add:hover {
  background-color: #fff;
  color: #000;
  font-weight: 900;
  border: 1px dashed #000;
}

.wrapper .deail-products .container .detail__share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.wrapper .deail-products .container .detail__share ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .deail-products .container .detail__share ul li {
  margin-left: 10px;
}

.wrapper .related-products h3.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.wrapper .related-products .container .related__products-items {
  margin-top: 30px;
  margin-left: 100px;
  text-align: center;
  width: 100%;
}

.wrapper .related-products .container .related__products-items img {
  width: 100%;
}

.wrapper .related-products .container .related__products-items p {
  font-size: 0.6rem;
}

.wrapper .evaluate .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .evaluate .container .write .write-review {
  border-bottom: 3px solid #000;
  cursor: pointer;
}

.wrapper .evaluate .container-2 {
  margin: auto 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper .evaluate .container-2 .input-review-none {
  display: none;
}

.wrapper .evaluate .container-2 .input-review-none .star {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .evaluate .container-2 .input-review-none .star input.star-rate {
  display: none;
}

.wrapper .evaluate .container-2 .input-review-none .star label {
  font-size: 35px;
  color: #333;
}

.wrapper .evaluate .container-2 .input-review-none .star label::before {
  content: "★";
}

.wrapper .evaluate .container-2 .input-review-none .star input.star-rate:hover ~ label {
  color: gold;
}

.wrapper .evaluate .container-2 .input-review-none .star input.star-rate:checked ~ label {
  color: gold;
}

.wrapper .evaluate .container-2 .input-review-show {
  display: block;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.wrapper .evaluate .container-2 form input {
  width: 1150px;
  outline: none;
  border: 1px solid #b7b7b7;
}

.wrapper .evaluate .container-2 form input::-webkit-input-placeholder {
  margin-left: 50px;
}

.wrapper .evaluate .container-2 form input:-ms-input-placeholder {
  margin-left: 50px;
}

.wrapper .evaluate .container-2 form input::-ms-input-placeholder {
  margin-left: 50px;
}

.wrapper .evaluate .container-2 form input::placeholder {
  margin-left: 50px;
}

.wrapper .evaluate .container-2 form textarea {
  outline: none;
  border: 1px solid #b7b7b7;
}

.wrapper .evaluate .container-2 .btn-request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrapper .evaluate .container-2 .btn-request button {
  background: #000;
  color: #fff;
  font-size: 1rem;
  width: 100px;
  height: 50px;
  border: none;
  -webkit-transition: all 1.4s ease-in-out;
  transition: all 1.4s ease-in-out;
}

.wrapper .evaluate .container-2 .btn-request button:hover {
  background-color: #fff;
  color: #000;
  border: 3px solid #000;
}

.wrapper .products .products__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .products .products__heading h2 {
  border: 1px solid #000;
  padding: 20px;
  text-transform: uppercase;
  font-size: 1rem;
}

.wrapper .products .products_categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .products .products_categories .categories {
  margin-left: 20px;
  width: 100%;
}

.wrapper .products .products_categories .categories .categories__line {
  height: 1px;
  width: 100%;
  background-color: #cbcbcb;
}

.wrapper .products .products_categories .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper .products .products_categories .container .slick-slide {
  outline: none;
}

.wrapper .products .products_categories .container .card__product-item {
  text-align: center;
}

.wrapper .products .products_categories .container .card__product-item h5 {
  font-size: 0.8rem;
}

.wrapper .products .products_categories .container .card__product-item img {
  padding: 70px;
  width: 400px;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.wrapper .products .products_categories .container .card__product-item img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.wrapper .products .products_categories .container .card__product-item p:nth-child(1) {
  font-size: 1.5rem;
}

.wrapper .products .products_categories .container .card__product-item p i {
  font-size: 0.6rem;
}

.wrapper .products .products_categories .container .card__product-item p span {
  font-size: 0.6rem;
}

.wrapper .products .products_categories .container .card__product-item .btn-add a button {
  border: none;
  background-color: #000;
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  font-weight: 500;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.wrapper .products .products_categories .container .card__product-item .btn-add a button:hover {
  background-color: white;
  color: #000;
  border: 1px solid #000;
}

.wrapper .products .number-page {
  margin-top: 30px;
}

.wrapper .products .number-page ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .products .number-page ul li {
  border: 1px solid #c6c6c6;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.wrapper .products .number-page ul li a {
  color: #000000;
}

.wrapper .products .number-page ul li:hover {
  background-color: #fd98ad;
  color: #fff;
}

.wrapper .about .about__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .about .about__heading h2 {
  text-transform: uppercase;
  border: 1px solid #333;
  padding: 20px;
  font-size: 1rem;
}

.wrapper .news-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .news-heading h2 {
  border: 1px solid #000;
  padding: 20px;
  font-size: 1rem;
}

.wrapper .news .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.wrapper .news .container .cart-new {
  text-align: center;
}

.wrapper .news .container .cart-new h3 {
  font-size: 1rem;
}

.wrapper .news .container .cart-new button {
  width: 200px;
  height: 50px;
  background-color: #000;
  color: white;
  border-radius: 10px;
  border: none;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  font-weight: 500;
}

.wrapper .news .container .cart-new button:hover {
  background-color: white;
  color: #000;
  border: 3px solid #000;
}

.wrapper .map .container .contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .map .container .contact-us .deatail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .map .container .contact-us .deatail button {
  color: white;
  background-color: #000;
  height: 50px;
  border-radius: 10px;
  font-size: 1rem;
  padding: 10px;
  border: 2px solid pink;
}

.wrapper .map .container .contact-us form {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #000;
  padding: 40px;
}

.wrapper .map .container .contact-us form .btn-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrapper .map .container .contact-us form .btn-next button {
  margin-top: 30px;
  width: 100px;
  height: 30px;
  background-color: #000;
  color: white;
  border: none;
  font-size: .7rem;
}

@media (max-width: 319px) {
  body {
    font-family: Arial, "Helvetica Neue", sans-serif;
  }
  body .wrapper .header__about {
    background-color: #000;
  }
  body .wrapper .header__about .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .wrapper .header__about .about .about__freeship p {
    font-size: 0.5rem;
    color: white;
  }
  body .wrapper .header__about .about .about__freeship .about__hidden {
    display: none;
  }
  body .wrapper .header__about .about .about__tools {
    display: none;
  }
  body .wrapper .header__about .about .about__tools li {
    margin-right: 10px;
  }
  body .wrapper .header__about .about .about__tools li a {
    color: white;
    font-size: 0.7rem;
  }
  body .wrapper .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .wrapper .navigation .brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .wrapper .navigation .brand img {
    width: 100px;
  }
  body .wrapper .navigation .nav-items {
    display: none;
  }
  body .wrapper .navigation .tools__hidden {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .wrapper .navigation .tools__hidden ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-top: 20px;
  }
  body .wrapper .navigation .tools__hidden ul li {
    margin-right: 20px;
  }
  body .wrapper .navigation .tools__hidden ul li:nth-child(3):hover i {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  body .wrapper .navigation .tools__hidden ul li a {
    font-size: 1rem;
  }
  body .wrapper .search__hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .wrapper .search__hidden input {
    height: 30px;
    outline: none;
  }
  body .wrapper .search__hidden input::-webkit-input-placeholder {
    color: #000;
  }
  body .wrapper .search__hidden input:-ms-input-placeholder {
    color: #000;
  }
  body .wrapper .search__hidden input::-ms-input-placeholder {
    color: #000;
  }
  body .wrapper .search__hidden input::placeholder {
    color: #000;
  }
  body .wrapper .search__hidden button {
    height: 30px;
    background-color: #000;
    border: none;
  }
  body .wrapper .search__hidden button i {
    color: #fff;
  }
  body .wrapper .banner div img {
    display: block;
    width: 100%;
  }
}

@media (max-width: 767px) {
  body {
    font-family: Arial, "Helvetica Neue", sans-serif;
  }
  body .wrapper {
    overflow-x: hidden;
  }
  body .wrapper .header__about {
    background-color: #000;
  }
  body .wrapper .header__about .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .wrapper .header__about .about .about__freeship {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
  }
  body .wrapper .header__about .about .about__freeship p {
    font-size: 0.5rem;
    color: white;
  }
  body .wrapper .header__about .about .about__tools {
    display: none;
  }
  body .wrapper .header__about .about .about__tools li {
    margin-right: 10px;
  }
  body .wrapper .header__about .about .about__tools li a {
    color: white;
    font-size: 0.7rem;
  }
  body .wrapper .navigation {
    height: 50px;
  }
  body .wrapper .navigation .brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .wrapper .navigation .brand img {
    width: 150px;
  }
  body .wrapper .navigation .nav-items {
    display: none;
  }
  body .wrapper .navigation .tools__hidden {
    display: block;
  }
  body .wrapper .navigation .tools__hidden ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    margin-top: 20px;
  }
  body .wrapper .navigation .tools__hidden ul li {
    margin-right: 20px;
  }
  body .wrapper .navigation .tools__hidden ul li a {
    font-size: 1rem;
  }
  body .wrapper .search__hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .wrapper .search__hidden input {
    height: 30px;
    outline: none;
  }
  body .wrapper .search__hidden input::-webkit-input-placeholder {
    color: #000;
  }
  body .wrapper .search__hidden input:-ms-input-placeholder {
    color: #000;
  }
  body .wrapper .search__hidden input::-ms-input-placeholder {
    color: #000;
  }
  body .wrapper .search__hidden input::placeholder {
    color: #000;
  }
  body .wrapper .search__hidden button {
    margin-top: 5px;
    height: 30px;
    background-color: #000;
    border: none;
  }
  body .wrapper .search__hidden button i {
    color: #fff;
  }
  body .wrapper .banner div img {
    display: block;
    width: 100%;
  }
  body .products .product__card .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .products .product__card .container .slick-slide {
    outline: none;
  }
  body .products .product__card .container .card__product-item {
    text-align: center;
  }
  body .products .product__card .container .card__product-item h5 {
    font-size: 0.8rem;
  }
  body .products .product__card .container .card__product-item img {
    padding: 40px;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
  }
  body .products .product__card .container .card__product-item img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  body .products .product__card .container .card__product-item p:nth-child(1) {
    font-size: 1.5rem;
  }
  body .products .product__card .container .card__product-item p i {
    font-size: 0.6rem;
  }
  body .products .product__card .container .card__product-item p span {
    font-size: 0.6rem;
  }
  body .products .product__card .container .card__product-item .btn-add a button {
    border: none;
    background-color: #000;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-weight: 500;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  body .products .product__card .container .card__product-item .btn-add a button:hover {
    background-color: white;
    color: #000;
    border: 1px solid #000;
  }
  body .registration {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .registration .registration__heading {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .registration .registration__heading h3 {
    font-size: 2rem;
    margin-left: 150px;
    font-weight: 700;
  }
  body .registration .registration__heading p {
    margin-left: 100px;
  }
  body .registration .form-input-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .registration .form-input-email input {
    margin-left: 180px;
    max-width: 300px;
    border: none;
    outline: none;
    height: 60px;
    border-bottom: 2px solid rgba(30, 30, 30, 0.2);
    -webkit-box-shadow: 0 12px 51px 0 rgba(30, 30, 30, 0.05);
            box-shadow: 0 12px 51px 0 rgba(30, 30, 30, 0.05);
  }
  body .registration .form-input-email button {
    margin-top: 10px;
    margin-left: 220px;
    width: 200px;
    height: 50px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
    border: none;
  }
  body .registration .form-input-email button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    font-weight: 800;
  }
  body .navigation-bottom {
    margin-top: 30px;
    background-color: #000;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .navigation-bottom .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
  }
  body .navigation-bottom .container .navigation-bottom__brand img {
    width: 200px;
    display: none;
  }
  body .navigation-bottom .container .navigation-bottom__list {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .navigation-bottom .container .navigation-bottom__list li {
    display: block;
  }
  body .navigation-bottom .container .navigation-bottom__list li a {
    color: #fff;
    text-decoration: none;
  }
  body .wrapper .interdepend__heading {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .wrapper .interdepend__heading h3 {
    text-transform: uppercase;
  }
  body .wrapper .deail-products .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .wrapper .deail-products .container .image-product img {
    width: 500px;
    height: 600px;
  }
  body .wrapper .deail-products .container h3 {
    font-size: 1.5rem;
  }
  body .wrapper .deail-products .container p.evaluate i.fa-star {
    font-size: 0.8rem;
  }
  body .wrapper .deail-products .container p.evaluate span {
    font-size: 0.8rem;
  }
  body .wrapper .deail-products .container p.price {
    font-size: 1rem;
  }
  body .wrapper .deail-products .container ul.evaluate {
    list-style: square;
  }
  body .wrapper .deail-products .container ul.evaluate li {
    list-style-type: disc;
  }
  body .wrapper .deail-products .container .number-products button {
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    border: 1px solid #cdcdcd;
    background: none;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
  }
  body .wrapper .deail-products .container .number-products button:hover {
    background: #000;
    color: #fff;
  }
  body .wrapper .deail-products .container .number-products input {
    width: 40px;
    height: 40px;
    outline: none;
    border: 1px solid #cdcdcd;
    -webkit-box-shadow: 0.5px 0.6 0.2px #333;
            box-shadow: 0.5px 0.6 0.2px #333;
    text-align: center;
  }
  body .wrapper .deail-products .container .btn-add-cart {
    margin-top: 20px;
  }
  body .wrapper .deail-products .container .btn-add-cart .btn-add {
    border: none;
    width: 100%;
    height: 50px;
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
    font-size: 0.7rem;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  body .wrapper .deail-products .container .btn-add-cart .btn-add:hover {
    background-color: #fff;
    color: #000;
    font-weight: 900;
    border: 1px dashed #000;
  }
  body .wrapper .deail-products .container .detail__share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
  }
  body .wrapper .deail-products .container .detail__share ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .wrapper .deail-products .container .detail__share ul li {
    margin-left: 10px;
  }
  body .btn-backtotop {
    position: fixed;
    right: 0;
    bottom: 50%;
    background: none;
    margin-right: 30px;
    border: none;
    outline: none;
    color: #000;
    opacity: 0.3;
  }
}
/*# sourceMappingURL=style.css.map */